# トークンを使って毎日4時にプロフサマリーデータを取得する

name: GitHub-Profile-Summary-Cards

on:
  schedule:
    - cron: "0 19 * * *" # 毎日04時に更新 "0 19 * * *"
  # 任意のタイミングで実行可能
  workflow_dispatch:

jobs:
  build:
    name: generate-github-profile-summary-cards
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # リポジトリのコードをActionsの実行環境にコピー
      - uses: actions/checkout@v4
        with:
          ref: 'output_summary_cards' # vn7n24fzkq/github-profile-summary-cards@release.with.BRANCH_NAMEでの指定がうまくいかなかったためこちらを利用
      # mainから最新を受け取る
      - name: Update from main branch
        run: |
          git fetch origin main
          git reset --hard origin/main
          git push origin output_summary_cards --force
      # 取得処理
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.SUMMARY_CARD_TOKEN }}
        with: # アクションにパラメータを渡す
          USERNAME: ${{ github.repository_owner }}
          # # BRANCH_NAME is optional, default to main, branch name to push cards
          # BRANCH_NAME: "output_summary_cards"
          # UTC_OFFSET is optional, default to zero
          UTC_OFFSET: 9
          # # AUTO_PUSH is optional, a boolean variable default to true, whether automatically push generated files to desired branch
          # AUTO_PUSH: true
